.App h1 {
  text-align: center;
  font-size: 78px;
  font-family: "Poiret One", cursive;
  color: #004445;
}
.container {
  border: 2px solid #0b8457;
  border-radius: 30px;
  display: block;
  margin: 0 auto;
  max-width: 900px;
  border: 2px solid #0b8457;
  border-radius: 30px;
  padding: 20px 70px;
  background-color: rgb(253, 251, 246);
}
.row {
  border: rgb(248, 180, 0, 0.2) solid;
  margin: 20px 450px;
  border-radius: 30px;
}
