.App h1 {
  text-align: center;
  font-size: 78px;
  font-family: "Poiret One", cursive;
  color: #004445;
}
.App .container {
  border: 2px solid #0b8457;
  border-radius: 15px;
  display: block;
  margin: 30px auto;
  max-width: 950px;
  padding: 20px;
  background-color: rgb(253, 251, 246);
}
.App footer {
  text-align: center;
  font-size: 12px;
}
