.col-6 {
  text-align: center;
  padding: 1.25rem;
}

h3 {
  font-size: 22px;
  text-align: center;
  color: #004445;
  margin: 0px 0px 12px 0px;
}

li.date {
  text-align: center;
  font-size: 15px;
  font-family: "Rajdhani", sans-serif;
  color: #0b8457;
  margin: 0px 0px;
  list-style-type: none;
}

li.time {
  text-align: center;
  font-size: 15px;
  font-family: "Rajdhani", sans-serif;
  color: #0b8457;
  margin-bottom: 10px;
  list-style-type: none;
}

.description,
.speed {
  text-align: center;
  font-size: 12px;
  font-family: "Rajdhani", sans-serif;
  color: #eac100;
  margin: 0px 0px;
  text-transform: capitalize;
  list-style-type: none;
}
