.Weather .col-6 {
  text-align: center;
}
.Weather h1 {
  text-align: center;
  font-size: 78px;
  font-family: "Poiret One", cursive;
  color: #004445;
}
.Weather button {
  border: none;
  background-color: rgb(253, 251, 246);
  color: #6db193;

  font-family: "Rajdhani", sans-serif;
  font-size: 12px;
  padding: 1px;
}

.Weather button:hover {
  color: #004445;
  font-size: 16px;
}

.Weather h2 {
  font-size: 54px;
  font-family: "Poiret One", cursive;
  color: #004445;
  margin: 0;
}
.Weather img {
  display: block;
  margin: 0 auto;
}
.Weather h3 {
  font-size: 22px;
  color: #004445;
  margin: 15px 0px 12px 0px;
}

.Weather ul {
  padding: 0;
}
.Weather li.date {
  font-size: 15px;
  font-family: "Rajdhani", sans-serif;
  color: #0b8457;
  margin: 0px 0px;
  list-style-type: none;
}

.Weather li.time {
  font-size: 15px;
  font-family: "Rajdhani", sans-serif;
  color: #0b8457;
  margin-bottom: 10px;
  list-style-type: none;
}
.Weather li.description {
  margin-top: 12px;
}

.Weather li.description,
.speed {
  font-size: 12px;
  font-family: "Rajdhani", sans-serif;
  color: #eac100;

  text-transform: capitalize;
  list-style-type: none;
}
.Weather .row {
  border: rgb(248, 180, 0, 0.2) solid;
  border-radius: 30px;
  margin: 0px 280px;
  padding: 20px;
}
.Weather .searchBtn {
  color: #28a745;
  border: 1px solid #28a745;
  background-color: transparent;
  margin-left: 5px;
  border-radius: 3px;
}
.Weather .inputBtn {
  border: 1px solid #ced4da;
  border-radius: 3px;
  color: #6c757d;
  margin-left: 15px;
  background-color: rgba(255, 255, 255, 0.67);
}
